.App {
  display: grid;
  grid-template-areas: 
    "header header header"
    "citiesList citiesList citiesList"
    "nav footer footer";
  grid-template-rows: 80px 1fr 70px;  
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
}

.citiesList {
  grid-area: citiesList;
  display: flex; 
}

.cityItem {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
}