.App {
  display: grid;
  grid-template-areas:
    "header header header"
    "citiesList citiesList citiesList";
  grid-template-rows: 80px 1fr 70px;
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  background-color: #3333;
}

.citiesList {
  grid-area: citiesList;
  display: flex;
  margin-top: 10px;
}
.itemCity {
  margin: 5px;
}

.city {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #3333;
}

.cityItem {
  border: 2px solid red;
}
